<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="papyrusConnectionString"
		 connectionString="Data Source=JOANNA\SQLEXPRESS;Initial Catalog=papyrusGaming;Integrated Security=True"
		 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.diagnostics>
		<trace autoflush="false" indentsize="4">
			<listeners>
				<add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="PapyrusGamingOutput.log" />
				<remove name="Default" />
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>