* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #faf7f5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #45505E;
}


#content {
    margin: 20px auto;
    border-radius: 5px;
    border: #c8c6c4 solid 1px;
    width: 960px;
    color: #45505E;
    background-color: #ffffff;
}


main {
    margin: auto;
    text-align: center;
    display: grid;
}

header {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}



#logo {
    width: 200px;
}

#menu {
    margin: 1%;
}

#nav-home {
    display: inline-block;
    margin:auto;
}
#nav-home img{
    width:200px;
    margin : 10px;
}


#buttonClient, #buttonMissions, .btn-ajout {
    color: #45505E;
    background-color: white;
    border-color: #dbe2e8;
    text-decoration: none;
}

#menu > a, .btn-ajout {
    font-size: medium;
    padding: 10px;
    border-radius: 3px;
    border-style: solid;
    font-weight: bold;
    margin: 20px auto;
    text-decoration: none;
}

.btn-ajout {
    width: 300px;
}

#buttonDevisFacture {
    background-color: #38dd09;
    color: white;
    border-color: #45505E;
}

.tableaux {
    margin: 10px auto;
    border: solid black 2px;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: left;
    width: 90%;
    table-layout:auto;
}

    .tableaux tr th:last-child {
        width: 100px;
    }


.tableaux th {
    background-color: black;
    color: white;
    padding: 10px;
}

.tableaux td {
    background-color: #faf7f5;
    color: #45505E;
}


.fa-edit {
    color: #049c2a;
}

.fa-times {
    color: #990000;
}

.fa-info-circle {
    color: #45505E;
}

.fa-edit, .fa-times, .fa-info-circle, .fa-trash-o, .fa-chevron-left, .fa-save {
    margin: 0 10px;
}



.col-md-4 {
    margin: auto;
}


btn-danger {
    border: none;
    background-color: white;
}

.entete {
    width: 150px;
    margin: 5px;
}



.fa-circle {
    font-size: 40%;
    vertical-align: middle;
    color: #45505E;
}

footer {
    margin-top: 10px;
}

#liensFooter {
    text-align: center;
    padding: 40px 0;
    background-color: #ebeff2;
}

    #liensFooter > a {
        text-decoration: none;
        color: #45505E;
        font-weight: bold;
    }

#copyright {
    background-color: #45505E;
    font-weight: bold;
    color: white;
    padding: 5px;
    border-radius: 0 0 5px 5px;
}

#logo-cat-egories {
    width: 287px;
}

.gestion-cat-egories{
    margin: auto;
    width: 287px;
    color: white;
    background-color: #b64b6f;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}

.gestion-cat-egories p {
    margin: auto;
}

.facture {
    padding: 50px;
    width: 75%;
    margin: 20px auto;
    border-radius: 5px;
    border: #c8c6c4 solid 1px;
    color: #45505E;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.facture #logo {
    text-align:left;
}

.entete-facture {
    display: flex;
    justify-content: flex-end;
}

.cadre-adresse {
    width: 20%;
}




