<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/layout.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <h1>@ViewBag.Title</h1>
        <nav>
            <ul>
                <li><a href="/">Home/Index</a></li>
                <li><a href="/clients">Clients/Index</a></li>
            </ul>
        </nav>
    </header>
    <main>
        @*
            Une page de disposition doit obligatoirement appeler la fonction RenderBody().
            RenderBody() affiche le contenu de la vue associée à la requête en cours
        *@

        @RenderBody()
    </main>
    <footer>
        <!-- Commentaire HTML -->
    </footer>
</body>
</html>
