*{
    margin: 0px;
    padding: 0px;
    }

@font-face{

    font-family: 'channel-regular';
    src:url('fonts/channel-webfont.woff');
    src:url('fonts/channel-webfont.svg#channel-regular')format('svg');
    src:url('fonts/channel-webfont.ttf')format('truetype');
}

body {
    background-image: url(images/bg_motif.gif);
}

#logo {
    position: absolute;
    left: 130px;
    top: 55px;
}

/* main */

.main {
    text-align: center;
    padding: 20px 0px 30px 0px;
    border-bottom: 1px solid white;
    
}

.main img, .main h2 {
    box-shadow: rgb(255 255 255 / 59%) 1px 0px 20px 0px;
    border: 1px solid black;
}

.main h2 {
    background-color: white;
    color: rgb(124, 10, 10);
    width: 900px;
    margin: -4px 19px;
    }

    /* wrapper */
.wrapper {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    background-color: rgba(128, 128, 128, 0.247);

}

/* nav */

nav ul {
    list-style-type: none;
}


nav a{
    display: block;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    padding : 10px 0px
}

    nav a:hover{
      color: red;
    }

/*header nav*/

header {
    height: 80px;
    border-bottom: 3px solid white;
    background-image: url(images/header.png);
}

header nav {
    float: right;
    
    width: 100%;
    margin:  10px auto;
}

header nav ul {
    position: relative;
    left: 40%;
    width: 60%;
}


header nav ul li {
    width: 18%;
    text-align: center;
    position: relative;
    font-family: channel-regular;
    display: inline-block;
}



header nav ul li a {
    margin-right: 30px;
}

.sous {
    display: none;
    position: absolute;
    width: 200px;
    
}

.sous li {
    
    width: 100%;
    text-align: left;
    padding: 2px 5px;
    background-color: rgba(0, 0, 0, 0.685);
    border: 1px solid white;
    border-top: none;
}

.sous a{
    padding: 10px;
    border-bottom: none;
}

nav>ul li:hover .sous {
    display: block;
}

.deroulant > a::after {
    content: "▼" ;
}

/* articles milieu de page */

.center {
    margin: 0 auto;
    padding: 20px 0px 60px 0px;
    border-bottom: 1px solid white;
    padding-bottom: 50px;
}

.bg_tonneau {
    width: 33%;
    height: 100%;
    background-image: url(images/bg_g.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    position: relative;
}

.bg_tonneau img {
    display: inline-block;
    position: absolute;
    left: 240px;
}

h3 {
    display: inline-block;
    font-size: 35px;
    text-align: center;
    vertical-align: top;
    position: relative;
    margin: 20px auto;
    color: white;
    font-family: channel-regular;
    font-weight: initial;
    font-size: larger;
    text-shadow: black;
    
}
/* paragraphe */

p {
    font-weight: bold;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

/*boutons */

button {
    width: 100px;
    height: 40px;
    background-color: rgb(168, 168, 168);
    color: white;
    font-weight: bolder;
    border-style: none;
}

button:hover
{
    transition: 0.1s;
    transform: rotate(-10deg) scale(1.5);
    background-color: rgb(87, 87, 87);
    color: red;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
    font-size: 1em;
   
}
/* articles bas de page : selection / cadeaux*/

#selection {
    width: 26%;
}

#cadeaux {
    width: 68%;   
    margin-left: 7px;
    margin-bottom: 50px; 
}

#selection, #cadeaux {
    display: inline-block;
    vertical-align: top;
    background-color: rgb(189 189 189 / 21%);
    margin-top: 50px;
    padding: 10px;
    height: 340px;
}

#selection ul li {
    border-bottom: 2px solid white;
}

#selection nav ul {
    list-style-image: url(images/liste.png);
    padding-left: 50px;
}

#cadeaux img {
    float: left;
    border: 5px solid white;
    margin: 20px 20px 0px 0px;
}

#selection nav ul li a {
    color: black;
    font-weight: bolder;
}

h4, h5 {
    font-family: channel-regular;
    color: white;
}

h4{
    text-align: center;
    
}

h5 {
    margin-top: 20px;
}

#cadeaux button {
    margin: 0px 145px;
}

/* footer */

footer {
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

footer nav {
padding-top: 50px;
border-top: 2px solid white;
}

footer nav ul {
    width: 75%;
    font-size: small;
}

footer nav ul li {
    display: inline-block;
    width: 16%;
    text-align: center;
    position: relative;
    font-family: channel-regular;
    margin: -90px 10px 0px 10px;
}

footer img {
    position: relative;
    left: 654px;
    bottom: -18px;
}
