@model Freelancer.Models.Mission

@{
    ViewData["Title"] = "Modifier une mission";
}

<h1>Modifier une mission</h1>

<h4>Mission</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MissionId" />
            <div class="form-group">
                <label asp-for="Etat" class="control-label"></label>
                <input asp-for="Etat" class="form-control" />
                <span asp-validation-for="Etat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titre" class="control-label"></label>
                <input asp-for="Titre" class="form-control" />
                <span asp-validation-for="Titre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Debut" class="control-label"></label>
                <input asp-for="Debut" class="form-control" />
                <span asp-validation-for="Debut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fin" class="control-label"></label>
                <input asp-for="Fin" class="form-control" />
                <span asp-validation-for="Fin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <select asp-for="ClientId" class="form-control" asp-items="@ViewBag.listClients"></select>
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Montant" class="control-label"></label>
                <input asp-for="Montant" class="form-control" />
                <span asp-validation-for="Montant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" value="Save" class="btn btn-primary"><i class="fa fa-save"></i>Modifier</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste des missions</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
