@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcomeow</h1>
    <img src="~/img/cat-welcome.jpg" />

    <a href="/CategorieClients" class="gestion-cat-egories"> <p>Gérer les catégories de clients</p><img id="logo-cat-egories" src="~/img/cat-egories_freelancer.png" alt="cat-egories" /></a>

</div>
