@model Freelance.Models.Client

@{
    ViewData["Title"] = "Delete";
}

<h1>Supression</h1>

<h3>Êtes-vous sûr de vouloir supprimer ce client?</h3>
<div>
    <p>
        <span class="entete">
            @Html.DisplayNameFor(model => model.Nom)
            :
        </span>
        <span>
            @Html.DisplayFor(model => model.Nom)

        </span>
    </p>

    <p>
        <span class="entete">
            @Html.DisplayNameFor(model => model.Email)
            :
        </span>
        @Html.DisplayFor(model => model.Email)
    </p>

    <form asp-action="Delete" class="form-footer">
        <input type="hidden" asp-for="ClientId" />

        <button type="submit" value="Delete" class="btn btn-danger action"><i class="fas fa-trash-alt"></i>Supprimer</button>
        <a asp-action="Index" class="action"><i class="fas fa-chevron-left"></i>Annuler</a>
    </form>


</div>
