<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Freelancer App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
    @*<script src="https://kit.fontawesome.com/0cb4964891.js" crossorigin="anonymous"></script>*@


</head>
<body id="content">

    <header>
        <a href="/home">
            <img id="logo" src="~/img/TP_Freelancer_logo.jpg" alt="logo_Freelancer">
        </a>
        <nav id="menu">
            <a id="buttonClient" href="/clients"><i class="fa fa-users"></i> Clients</a>
            <a id="buttonMissions" href="/missions"><i class="fa fa-coffee"></i> Missions</a>
            <a id="buttonDevisFacture" href="/devis"><i class="fa fa-calculator"></i> Devis & Factures</a>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div id="liensFooter">
            <a href="#">Je</a>
            <i class="fa fa-circle"></i>
            <a href="#">n'ai</a>
            <i class="fa fa-circle"></i>
            <a href="#">pas</a>
            <i class="fa fa-circle"></i>
            <a href="#">d'idée</a>
            <i class="fa fa-circle"></i>
            <a href="#">de liens...</a>
        </div>
        <div id="copyright">
            <p>© Copyright 2021 · SCHMITT JOANNA</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
